
@{ 
    Layout = null;
}

<h2>Add Person</h2>
<div>
    <input type="text" class="form-control" placeholder="Name" ng-model="Person.Name"/>
    <br />
    <input type="text" class="form-control" placeholder="Surname" ng-model="Person.Surname"/>
    <br />
    <button class="btn btn-primary" ng-click="Save()">Save</button>
    
</div>

